@model IEnumerable<Natific.Ui.Models.Results.GetProductResult>
@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> @TempData["SuccessMessage"]
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Statistics", "Statistics") | @Html.ActionLink("Products Report", "List")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th> <!--edit-->
        <th></th> <!--delete-->
        <th></th> <!--create stockpile-->
        <th></th> <!--moviment stockpiles-->
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId })
        </td>
        <td>
            <div class="delete-section">
                <a class="delete-link" href="@Url.Action("Delete", new {id = item.ProductId})">Delete</a>
                <div class="btn btn-danger delete-confirm" style="display:none" data-delete-id="@item.ProductId">Confirm Delete?</div>
            </div>
        </td>
        <td>
            @Html.ActionLink("StockPile", "Create", "StockPiles", new { id = item.ProductId }, null)
        </td>
        <td>
            @Html.ActionLink("Moviments", "List", "StockPiles", new { id = item.ProductId }, null)
        </td>
    </tr>
    }
</table>

@section scripts{
    <!-- JavaScript to Hide the Div with Success Message -->
    <script type="text/javascript">
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 3000);
    </script>

    <!-- JavaScript to Confirm Delete -->
    <script type="text/javascript">
    $(function () {
        $("a.delete-link").click(function () {
            var deleteLink = $(this);
            deleteLink.hide();
            var confirmButton = deleteLink.siblings(".delete-confirm");
            confirmButton.show();

            var cancelDelete =  function () {
                removeEvents();
                showDeleteLink();
            };

            var deleteItem = function () {
                removeEvents();
                confirmButton.hide();
                $.post(
                    '@Url.Action("Delete")',
                    AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                   .done(function () {
                       var parentRow = deleteLink.parents("tr:first");
                       parentRow.fadeOut('fast', function () {
                           parentRow.remove();
                       });
                   }).fail(function (data) {
                       alert("error");
                   });
                return false;
            };

            var removeEvents = function () {
                confirmButton.off("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).off("keypress", onKeyPress);
            };

            var showDeleteLink = function () {
                confirmButton.hide();
                deleteLink.show();
            };

            var onKeyPress = function (e) {
                //Cancel if escape key pressed
                if (e.which == 27) {
                    cancelDelete();
                }
            };

            confirmButton.on("click", deleteItem);
            $(document).on("click", cancelDelete);
            $(document).on("keypress", onKeyPress);

            return false;
        });

        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        };
    });
    </script>
}